.iterable {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  height: 75;
  width: 270;
  
}


.iterableiterable_item {
    width: "25px";
    margin-right: "15px",
  }

.iterable .iterable_item:hover {
    transform: scale(1);
    
}
